body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(46, 100, 225);
}

.container {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
  margin-top: 70px;
}
