<%- include('includes/head.ejs')%>

<section class="container">
  <h1>Token: <%= csrfToken %></h1>
  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Cliente:</label>
    <input type="text" name="cliente" />
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer.ejs')%>
<!-- 
  mongodb+srv://isaiassantanadossantos:23022008Nyco@cursojs.yi1hhvn.mongodb.net/?retryWrites=true&w=majority
-->
